@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  button {
    cursor: default;
  }
} */

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .schedule-grid-cols {
    grid-template-columns: 3.2rem repeat(5, minmax(0, 1fr));
  }

  .alert-data a {
    @apply text-purple-800 hover:underline dark:text-purple-300;
  }

  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .rainbow-border {
    position: relative;
    overflow: hidden;
    padding: 4px;
    border-radius: 16px;
    transition: all 150ms linear;
  }

  .rainbow-border::before {
    content: '';
    display: block;
    background: conic-gradient(
      #f87171,
      #facc15,
      #a3e635,
      #22d3ee,
      #60a5fa,
      #a78bfa,
      #f472b6
    );
    width: calc(100% * 1.41421356237);
    padding-bottom: calc(100% * 1.41421356237);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: -2;
    transition: all 150ms linear;
    animation: spin 5s linear infinite;
  }

  .rainbow-border::after {
    content: '';
    position: absolute;
    inset: 8px;
    z-index: -1;
    border-radius: 8px;
  }

  /* react-hot-toast */
  @keyframes animation-toast-enter {
    0% {
      transform: translate3d(0, 200%, 0) scale(0.6);
      opacity: 0.5;
    }
    100% {
      transform: translate3d(0, 0, 0) scale(1);
      opacity: 1;
    }
  }

  /* react-hot-toast */
  @keyframes animation-toast-exit {
    0% {
      transform: translate3d(0, 0, -1px) scale(1);
      opacity: 1;
    }
    100% {
      transform: translate3d(0, 150%, -1px) scale(0.6);
      opacity: 0;
    }
  }

  /* react-hot-toast */
  @keyframes animation-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* react-hot-toast */
  @keyframes animation-fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /* react-hot-toast */
  .animate-toast-enter {
    animation: animation-toast-enter 0.35s cubic-bezier(0.21, 1.02, 0.73, 1)
      forwards;
  }

  /* react-hot-toast */
  .animate-toast-exit {
    animation: animation-toast-exit 0.4s forwards
      cubic-bezier(0.06, 0.71, 0.55, 1);
  }

  @media (prefers-reduced-motion: reduce) {
    /* react-hot-toast */
    .animate-toast-enter {
      animation: animation-fade-in 0.35s cubic-bezier(0.21, 1.02, 0.73, 1)
        forwards;
    }

    /* react-hot-toast */
    .animate-toast-exit {
      animation: animation-fade-out 0.4s forwards
        cubic-bezier(0.06, 0.71, 0.55, 1);
    }
  }

  .background-gradient-1 {
    background: #a770ef; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #fdb99b,
      #cf8bf3,
      #a770ef
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #fdb99b,
      #cf8bf3,
      #a770ef
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .background-gradient-2 {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #434343,
      #000000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .background-gradient-3 {
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #38ef7d,
      #11998e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #38ef7d,
      #11998e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .background-gradient-4 {
    background: #a8c0ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #3f2b96,
      #a8c0ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #3f2b96,
      #a8c0ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .text-gradient {
    font-size: 196px;
    font-weight: 900;
    line-height: 1;
    background: -webkit-linear-gradient(#c084fc, #4ade80);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .important-focus-black:focus {
    border-color: #000000 !important;
  }

  .important-focus-white:focus {
    border-color: #ffffff !important;
  }
}
